footer {
  width: 100%;
  bottom: 0;
  height: 200px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 40px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34.22px;
}

@media (max-width: 767px) {
  footer {
    font-size: 12px;
    line-height: 17px;
    gap: 5px;
    padding-top: 25px;
  }
  footer > p {
    max-width: 130px;
    text-align: center;
  }
}