@import '../../../variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-left: $body-padding;
  padding-right: $body-padding;
  margin-bottom: 50px;
}

.linkInactive {
  text-decoration: none !important;
}

nav > ul {
  display: flex;
  gap: 57px;
}

nav > ul > li {
  list-style-type: none;
  font-size: 24px;
  line-height: 34.22px;
}

nav > ul > li > a {
  color: $light-red !important;
}

@media (max-width: 767px) {
  header {
    padding-left: $mobile-body-padding;
    padding-right: $mobile-body-padding;
    margin-bottom: 20px;
  }
  nav > ul {
    gap: 26px;
  }
  nav > ul > li {
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
  }
  .logo {
    height: 46px;
    width: 145px;
  }
}