h1 {
  color: red;
}

footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 150px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
