@import '../variables';

main {
  padding-left: $body-padding;
  padding-right: $body-padding;
}

@media (max-width: 767px) {
  main {
    padding-left: $mobile-body-padding;
    padding-right: $mobile-body-padding;
  }
}