$body-padding: 88px;
$light-red: #FF5363;
$gallery-background: #F6F6F6;

footer {
  width: 100%;
  bottom: 0;
  height: 150px;
  color: white;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-top: 25px;
  font-weight: 500;
  font-size: 24px;
  line-height: 34.22px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 35px;
  padding-left: $body-padding;
  padding-right: $body-padding;
  margin-bottom: 50px;
}

.image-title-container {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.image-title-container > h1 {
  position: absolute;
  top: 35px;
  font-size: 48px;
  color: white;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.image-title-container > img {
  border-radius: 20px;
  height: 205px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: -1;
}

.image-title-container > .opacity-background {
  height: 205px;
  width: 100%;
  position: absolute;
  background:rgba(0,0,0, 0.3);
  border-radius: 20px;  
}

main {
  padding-left: $body-padding;
  padding-right: $body-padding;
}

nav > ul {
  display: flex;
  gap: 57px;
}

nav > ul > li {
  list-style-type: none;
  font-size: 24px;
  line-height: 34.22px;
}

nav > ul > li > a {
  color: $light-red !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.housing-cards {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: $gallery-background;
  border-radius: 25px;
  padding: 30px;
}

.housing-link {
  display: flex;
  width: fit-content;
  min-width: 30%;
}

.housing-cards > a {
  margin-bottom: 30px;
}

.housing-cards > a > article {
  position: relative;
}

.housing-cards > a > article > h3 {
  position: absolute;
  bottom: 10px;
  left: 20px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  width: 50%;
}

.housing-cards > a > article > img {
  border-radius: 10px;
  height: 300px;
  width: 300px;
  overflow: hidden;
  object-fit: cover;
}

.housing-cards > a > article > .linear-gradient {
  height: 300px;
  width: 300px;
  position: absolute;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;  
}
