@import '../../variables.scss';

.housingCards {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: $gallery-background;
  border-radius: 25px;
  padding: 30px;
}
